body {
font-family: arial, sans-serif;
text-align: center;
background-color: #f6f6f6;
}



.carrossel {
display: flex;
align-items: center;
justify-content: center;
margin-top: 50px;

}

.carrossel img {
width: 300px;
    height: 200px;
object-fit: cover;
border-radius: 10px;
margin: 0 10px;
box-shadow: 0  0 10px rgba(red, green, blue, alpha);
}

button {
font-size: 20px;
padding: 10px;
cursor: pointer;


}







